version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    dns:
      - 8.8.8.8
      - 1.1.1.1
    container_name: medisure_backend
    volumes:
      - /data/projects/medisure_db:/app/db_data
    ports:
      - "8001:8000"
    environment:
      - DEBUG=False
      - PYTHONUNBUFFERED=1
    restart: always